poster_rnw_xtex/figure/
poster_rnw_xtex/conference_poster_6_xtex.tex

poster_rnw_xtex/conference_poster_6_xtex.bbl

poster_rnw_xtex/conference_poster_6_xtex-tikzDictionary

poster_rnw_xtex/conference_poster_6_xtex.fdb_latexmk

poster_rnw_xtex/conference_poster_6_xtex.fls

poster_rnw_xtex/conference_poster_6_xtex.log

poster_rnw_xtex/conference_poster_6_xtex.synctex.gz

poster_rnw_xtex/conference_poster_6_xtex-concordance.tex

picture_internal_tikz_xtex/picture_way_3.tex

picture_internal_tikz_xtex/picture_way_3.synctex.gz

picture_internal_tikz_xtex/picture_way_3.log

picture_internal_tikz_xtex/picture_way_3-tikzDictionary

picture_internal_tikz_xtex/picture_way_3-concordance.tex

picture_external_tikz_xtex/picture_way_2.tex

picture_external_tikz_xtex/picture_way_2.synctex.gz

picture_external_tikz_xtex/picture_way_2.log

picture_external_tikz_xtex/picture_way_2-tikzDictionary

picture_external_tikz_xtex/picture_way_2-concordance.tex

picture_external_tikz_xtex/histo_file.tkz

*.aux

*.log

picture_external_pdf_xtex/figure/unnamed-chunk-2-1.pdf

picture_external_pdf_xtex/figure/unnamed-chunk-2-1.tikz

picture_external_pdf_xtex/figure/unnamed-chunk-3-1.pdf

picture_external_pdf_xtex/figure/unnamed-chunk-3-1.tikz

picture_external_pdf_xtex/picture_xtex-concordance.tex

picture_external_pdf_xtex/picture_xtex-tikzDictionary

picture_external_pdf_xtex/picture_xtex.synctex.gz

picture_external_pdf_xtex/picture_xtex.tex

picture_external_pdf_xtex/Rplots.tex
