poster_rnw_xtex/figure/
poster_rnw_xtex/conference_poster_6_xtex.tex

poster_rnw_xtex/conference_poster_6_xtex.bbl

poster_rnw_xtex/conference_poster_6_xtex-tikzDictionary

poster_rnw_xtex/conference_poster_6_xtex.fdb_latexmk

poster_rnw_xtex/conference_poster_6_xtex.fls

poster_rnw_xtex/conference_poster_6_xtex.log

poster_rnw_xtex/conference_poster_6_xtex.synctex.gz

poster_rnw_xtex/conference_poster_6_xtex-concordance.tex
